.aboutchannel
	.aboutchannel__descr 
		h3 Описание
		p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего свое текстами рыбными, он решила все большого, маленькая последний живет, бросил выйти использовало. То однажды своих запятой ipsum, заглавных ее послушавшись даже выйти он приставка коварных пор строчка, необходимыми буквенных сих рекламных, встретил раз проектах всемогущая составитель грамматики свою свое диких живет рукопись. Большой, живет своего обеспечивает домах, это жизни назад вершину грустный взгляд свой правилами, все имеет ручеек напоивший буквоград запятой своего наш пунктуация толку ведущими, реторический не рыбными дорогу океана грамматики? Повстречался злых домах щеке. Запятой несколько ipsum бросил от всех парадигматическая коварных напоивший, за домах даль залетают!
	.aboutchannel__stat 
		h3 Статистика
		table
			tr 
				td Дата регистрации: 
				td 23 мая 2014 года
			tr 
				td Видео: 
				td 1524
			tr 
				td Просмотры: 
				td 2 682 659
			tr 
				td Подписчики: 
				td 526