.breadcrumbs
	ul.breadcrumbs__list 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Тв
		li.breadcrumbs__item Танцы на ТНТ, 3 сезон, 9 выпуск