.carousel
	.owl-carousel.carousel__list
		.carousel__item
			.preview
				.preview__first
					.preview__img
						img(src="img/slider/1.jpg", alt="preview" title="preview")
					.preview__overlay.preview__overlay--blue
					.preview__bottom
						h3.preview__title.preview__title--big Улица, 1 сезон, 22 серия (02.11.2017)
						.preview__user max
						.preview__date 09.08.2017
		.carousel__item
			.carousel__container
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/2.jpg", alt="preview" title="preview")
						.preview__overlay.preview__overlay--red
						.preview__bottom
							h3.preview__title Где логика?, 5 сезон 12 выпуск (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/3.jpg", alt="preview" title="preview")
						.preview__overlay.preview__overlay--brown
						.preview__bottom
							h3.preview__title Однажды в России. 6 сезон, 10 выпуск. (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/4.jpg", alt="preview" title="preview")
						.preview__details
							.preview__duration 21:43
						.preview__overlay.preview__overlay--blue
						.preview__bottom
							h3.preview__title Однажды в России. 6 сезон, 10 выпуск. (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
							.preview__img
								img(src="img/slider/5.jpg", alt="preview" title="preview")
							.preview__overlay.preview__overlay--black
							.preview__bottom
								h3.preview__title Улица, 1 сезон, 21 серия (01.11.2017)
								.preview__user max
								.preview__date 09.08.2017
		.carousel__item
			.preview
				.preview__first
					.preview__img
						img(src="img/slider/1.jpg", alt="preview" title="preview")
					.preview__overlay.preview__overlay--red
					.preview__bottom
						h3.preview__title.preview__title--big  Улица, 1 сезон, 22 серия (02.11.2017)
						.preview__user max
						.preview__date 09.08.2017
		.carousel__item
			.carousel__container
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/2.jpg", alt="preview" title="preview")
						.preview__overlay.preview__overlay--black
						.preview__bottom
							h3.preview__title Где логика?, 5 сезон 12 выпуск (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/3.jpg", alt="preview" title="preview")
						.preview__overlay.preview__overlay--blue
						.preview__bottom
							h3.preview__title Однажды в России. 6 сезон, 10 выпуск. (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
						.preview__img
							img(src="img/slider/4.jpg", alt="preview" title="preview")
						
						.preview__overlay.preview__overlay--yellow
						.preview__bottom
							h3.preview__title Однажды в России. 6 сезон, 10 выпуск. (01.11.2017)
							.preview__user max
							.preview__date 09.08.2017
				.preview
					.preview__first
							.preview__img
								img(src="img/slider/5.jpg", alt="preview" title="preview")
							.preview__overlay.preview__overlay--brown
							.preview__bottom
								h3.preview__title Улица, 1 сезон, 21 серия (01.11.2017)
								.preview__user max
								.preview__date 09.08.2017