//- .preview
//- 	.preview__first
//- 		.preview__img
//- 			img(src="img/preview4.jpg", alt="preview" title="preview")
//- 		.preview__cat наука и техника
//- 		.preview__details
//- 			.preview__duration 45:03
//- 		.preview__bottom
//- 			h3.preview__title Неудачный запуск ракеты
//- 			.preview__views 246
//- 			.preview__likes 15
//- 			.preview__comments 103
//- 			.preview__date 09.08.2017

.collections
	ul.collections__title.tabs__caption
		li.collections__span.active Другое
	.tabs__content.active
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-3
				.preview
					.preview__first
						.preview__img
							img(src="img/preview.jpg", alt="preview" title="preview")
						.preview__cat тв
						.preview__bottom
							h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview2.jpg", alt="preview" title="preview")
						.preview__cat игры
						.preview__bottom
							h3.preview__title Про дизель, добавки и историю
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user admin
				.preview
					.preview__first
						.preview__img
							img(src="img/preview3.jpg", alt="preview" title="preview")
						.preview__cat путешествия
						.preview__bottom
							h3.preview__title Про дизель, добавки и историю
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user admin
			.col-xs-12.col-sm-6.col-md-6.col-lg-3
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника
						.preview__details
							.preview__duration 45:03
						.preview__bottom
							h3.preview__title Неудачный запуск ракеты
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
							.preview__date 09.08.2017
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview3.jpg", alt="preview" title="preview")
						.preview__cat путешествия
						.preview__details
							.preview__duration 13:05
						.preview__bottom
							h3.preview__title Чаро бозори Ҳоҷӣ Шариф оташ гирифт Худатон бубинед
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника
						.preview__details
							.preview__duration 22:22
						.preview__bottom
							h3.preview__title Селаи зоғҳо мардуми Турсунзодаро тарсонд
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
			.col-xs-12.col-sm-6.col-md-6.col-lg-3
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника
						.preview__details
							.preview__duration 12:03
						.preview__bottom
							h3.preview__title  Ответи мадина басаева ба халки точик
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview3.jpg", alt="preview" title="preview")
						.preview__cat путешествия
						.preview__bottom
							h3.preview__title Физрук 4 сезон 14 серия 30 10 2017
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника
						.preview__bottom
							h3.preview__title Тор 3: Рагнарёк / Thor: Ragnarok [TS] (2017)
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user destroy
			.col-xs-12.col-sm-6.col-md-6.col-lg-3
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника

						.preview__bottom
							h3.preview__title Боздошти котиби додгоҳ дар Суғд бо 5000 $ пора
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user dj_ahmad
				.preview
					.preview__first
						.preview__img
							img(src="img/preview3.jpg", alt="preview" title="preview")
						.preview__cat путешествия
						.preview__bottom
							h3.preview__title Ферит и Назлы -- Fall With Me -
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user vita7
				.preview
					.preview__first
						.preview__img
							img(src="img/preview4.jpg", alt="preview" title="preview")
						.preview__cat наука и техника
						.preview__bottom
							h3.preview__title 5 жутких потерянных видео которые были найдены
							.preview__date 09.08.2017
							.preview__views 246
							.preview__likes 15
							.preview__comments 103
					.preview__last
						.preview__user nikolay