link(rel="apple-touch-icon", sizes="180x180", href="/img/favicons/apple-touch-icon.png?v=2")
link(rel="icon", type="image/png", sizes="32x32", href="/img/favicons/favicon-32x32.png?v=2")
link(rel="icon", type="image/png", sizes="16x16", href="/img/favicons/favicon-16x16.png?v=2")
link(rel="manifest", href="/img/favicons/manifest.json?v=2")

link(rel="shortcut icon", href="/img/favicons/favicon.ico?v=2")
meta(name="msapplication-config", content="/img/favicons/browserconfig.xml?v=2")
meta(name="theme-color", content="#ffffff")