footer.footer 
	.container-fluid
		.row
			.col-xs-12.col-sm-7.col-md-6
				.footer__contacts
					|Используя сайт, вы обязуетесь выполнять условия данного <a href="">соглашения</a>. 
					|<br> Хостинг предоставлен компанией <a href="">ООО «Вавилон-Т»</a>. <br> © 2011-2017 | TopVideo. Все права защищены.
			.col-xs-12.col-sm-5.col-md-6
				.footer__social
					a(href="https://www.facebook.com/topvideo.tj/")
						i.fa.fa-facebook
					a(href="https://vk.com/topvideo_tj")
						i.fa.fa-vk
					a(href="https://ok.ru/topvideo.tj")
						i.fa.fa-odnoklassniki
					a(href="mailto:info@topvideo.tj")
						i.fa.fa-envelope