header.header
	.container-fluid.header__container
		.header__top
			a.logo(href="index.html")
			.searchbar
				a(href="#").nav__btn
					i.fa.fa-bars
				form.searchbar__form
					//- i.fa.fa-search
					.searchbar__inputgroup
						input.searchbar__input(type="text", placeholder="Поиск...")
			include userbar
		nav.nav
			a.nav__close(href="#")
				i.fa.fa-close
				| Закрыть
			ul.nav__list
				li.nav__item
					a.nav__link(href="#") Юмор
					a.nav__expand.nav__expand--active(href="#") 
						i.fa.fa.fa-double-double-up
					ul.nav__sublist
						li.nav__item
							a.nav__link(href="#") Пранк
						li.nav__item
							a.nav__link(href="#") Приколы
						li.nav__item
							a.nav__link(href="#") Жесткач
				li.nav__item
					a.nav__link(href="#") ТВ
					a.nav__expand.nav__expand--active(href="#") 
						i.fa.fa-angle-double-up
					ul.nav__sublist
						li.nav__item
							a.nav__link(href="#") Новости
						li.nav__item
							a.nav__link(href="#") Передачи
						li.nav__item
							a.nav__link(href="#") Сериалы
				li.nav__item
					a.nav__link(href="#") Сериалы
				li.nav__item
					a.nav__link(href="#") Жесть
				li.nav__item
					a.nav__link(href="#") Мультфильмы
					a.nav__expand.nav__expand--active(href="#") 
						i.fa.fa-double-angle-up
					ul.nav__sublist
						li.nav__item
							a.nav__link(href="#") Детские
						li.nav__item
							a.nav__link(href="#") Взрослые
				li.nav__item
					a.nav__link(href="#") Спорт
				li.nav__item
					a.nav__link(href="#") Музыка
				li.nav__item
					a.nav__link(href="#") Кино
				li.nav__item
					a.nav__link(href="#") Игры
				li.nav__item
					a.nav__link(href="#") Семья
				li.nav__item
					a.nav__link(href="#") Авто
				//- li.nav__item
				//- 	a.nav__link(href="#") Новости
				//- li.nav__item
				//- 	a.nav__link(href="#") Аниме
				//- li.nav__item
				//- 	a.nav__link(href="#") Наука и техника
				//- li.nav__item
				//- 	a.nav__link(href="#") Животные
				//- li.nav__item
				//- 	a.nav__link(href="#") Путеществие
				//- li.nav__item
				//- 	a.nav__link(href="#") Искусство
				//- li.nav__item
				//- 	a.nav__link(href="#") Разное
		




















