.sidebar
	.sidebar__item
		h2.sidebar__title
			span.sidebar__span <i class="fa fa-video-camera"></i> Сборники
		.sidebar__body
			.compilation
				.compilation__count 15
				.compilation__title Comedy Баттл
				.compilation__img
					img(src="img/compilation1.jpg", alt="compilation1" title="compilation1")
			.compilation
				.compilation__count 150
				.compilation__title Теория большого взрыва (2009 - 2017)
				.compilation__img
					img(src="img/compilation2.jpg", alt="compilation2" title="compilation2")
			.compilation
				.compilation__count 72
				.compilation__title Во все тяжкие (2010-2015)
				.compilation__img
					img(src="img/compilation3.jpg", alt="compilation3" title="compilation3")
			.compilation
				.compilation__count 20
				.compilation__title Druzhko Show (1-20)
				.compilation__img
					img(src="img/compilation4.jpg", alt="compilation4" title="compilation4")
			.compilation
				.compilation__count 15
				.compilation__title Моё гэнгста (клипы Хованского)
				.compilation__img
					img(src="img/compilation5.jpg", alt="compilation5" title="compilation5")
	.sidebar__item
		h2.sidebar__title
			span.sidebar__span <i class="fa fa-tv"></i> Онлайн ТВ
		.sidebar__body
			.tv
				img(src="img/tv1.jpg", alt="tv")
			.tv
				img(src="img/tv2.jpg", alt="tv")