.sidebar
	.sidebar__item
		.videobtns
			a.videobtns__item(href="") <i class='fa fa-edit'></i> <span>редактировать</span>
			a.videobtns__item(href="") <i class='fa fa-picture-o'></i> <span>+ постер</span>
			a.videobtns__item(href="") <i class='fa fa-window-close'></i> <span>удалить</span>	
	.sidebar__item
		h2.sidebar__title
			span.sidebar__span <i class="fa fa-video-camera"></i> Похожее видео
		.sidebar__similar
			.preview
				.preview__first
					.preview__img
						img(src="img/preview1.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
			.preview
				.preview__first
					.preview__img
						img(src="img/preview2.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
			.preview
				.preview__first
					.preview__img
						img(src="img/preview3.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
			.preview
				.preview__first
					.preview__img
						img(src="img/preview1.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
			.preview
				.preview__first
					.preview__img
						img(src="img/preview2.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
			.preview
				.preview__first
					.preview__img
						img(src="img/preview3.jpg", alt="preview" title="preview")
					.preview__cat тв
					.preview__bottom
						h3.preview__title Танцы на ТНТ. 4 сезон, 9 выпуск.
						.preview__date 09.08.2017
						.preview__views 246
						.preview__likes 15
						.preview__comments 103
				.preview__last
					.preview__user dj_ahmad
