video(poster='img/watch/watch.jpg', controls='')
	source(src='img/watch/watch.mp4', type='video/mp4')
	source(src='img/watch/watch.webm', type='video/webm')
	// Captions are optional
	track(kind='captions', label='English captions', src='img/watch/watch.vtt', srclang='en', default='')