.videodetails
	.videodetails__1
		.videochannel
			a.videochannel__avatar(href="#") <img src="img/avatar.png" alt="avatar">
			.videochannel__channel
				.videochannel__username max5757
				.videosubscribebtn
					button Подписаться
					span 253
	.videodetails__2
		.videodetails__main
			h1.videodetails__title Сердца мужчин во времена трудностей
			.videodetails__info
				a.videodetails__category(href="#") <i class="fa fa-indent"></i> Разное
				.videodetails__fileinfo Дата загрузки: 01.01.2018 21:42:19 / Размер файла: 9 МБ
		.videodetails__actions
			.videoactions
				.videoactions__item
					.watch__views <i class="fa fa-eye"></i> 771
				.videoactions__item
					a.watch__likes.watch__likes--active(href="#") <i class="fa fa-thumbs-o-up"></i> 159
				.videoactions__item
					a.watch__dislikes(href="#") <i class="fa fa-thumbs-o-down"></i> 12
				.videoactions__item
					a.watch__camera(href="#") <i class="fa fa-folder-open"></i>
				.videoactions__item
					a.watch__fav(href="#" data-status="favorite") <i class="fa fa-star-o"></i>
	.videodetails__3
		.videodetails__text В третьем квартале 2017 года объем рынка интернет-рекламы впервые превысил аналогичные доходы ТВ-сегмента — 41 млрд против 36,2–36,7 млрд руб., свидетельствуют данные Ассоциации коммуникационных агентств России (АКАР). По итогам первых девяти месяцев года рынок интернет-рекламы также практически догнал ТВ: 115–116 млрд против 116–117 млрд руб.
	.videodetails__4
		.videoedit
			.videoedit__tabs
				.videoedit__tab.videoedit__tab--active
					i.fa.fa-info-circle
					| Метаданные
				.videoedit__tab
					i.fa.fa-file-text-o
					| Действие
				.videoedit__tab
					i.fa.fa-youtube-play
					| Значок видео
				.videoedit__tab
					i.fa.fa-trash
					| Удалить видео
			.vieoedit__tabcontent.vieoedit__tabcontent--active 12
			.vieoedit__tabcontent 34
			.vieoedit__tabcontent 56
			.vieoedit__tabcontent 78