.breadcrumbs {
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 0.4;
    font-size: 12px;
}
.breadcrumbs__list {
	padding: 0;
	margin: 0;
}

.breadcrumbs__item {
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;
	color: #595959;
	font-weight: normal;
	&:after {
		display: inline-block;
		content: '/';
		margin-left: 5px;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}
.breadcrumbs__link {
	text-decoration: none;
	color: #000;
	&:hover {
		color: #000;
	}
}